/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
/src/.phpunit.cache
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.env.production
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/auth.json
/src/npm-debug.log
/src/yarn-error.log
/src/.fleet
/src/.idea
/src/.vscode
/dbdata
/src/package-lock.json
/src/yarn.lock
/src/storage/framework/cache/data/*
/src/storage/framework/sessions/*
/src/storage/framework/testing/*
/src/storage/framework/views/*
/src/storage/logs/*
/src/storage/debugbar/*
redisdata/dump.rdb
.vscode/settings.json
/.vite
ray.php
